.Display {
  width: 500px;
  height: 100vh;
  border: 1px solid black;
  overflow: scroll;
}

.Display ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.Display li {
  cursor: default;
}
