.Display {
  width: 500px;
  height: 100vh;
  min-width: 250px;
  border: 1px solid black;
  overflow: scroll;
  padding: 1em;
}

.Display ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.Display li {
  cursor: default;
}

.Display a {
  text-decoration: none;
}
