.Display {
  width: 500px;
  height: calc(100vh - 33px);
  min-width: 250px;
  border-left: 1px solid black;
  overflow: scroll;
  padding: 1em;
}

.Display ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.Display li {
  cursor: default;
}

.Display a {
  text-decoration: none;
}
